MvcCliente/Connected Services/SRPersona/SPersonas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SPersonas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60925/SPersonas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60925/SPersonas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60925/SPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSPersonas.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISPersonas_GetPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersona" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_GetPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_GetPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonas" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_GetPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISPersonas_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="ISPersonas">
    <wsdl:operation name="GetPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/GetPersona" message="tns:ISPersonas_GetPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/GetPersonaResponse" message="tns:ISPersonas_GetPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/GetPersonas" message="tns:ISPersonas_GetPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/GetPersonasResponse" message="tns:ISPersonas_GetPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPersonas/Add" message="tns:ISPersonas_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPersonas/AddResponse" message="tns:ISPersonas_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISPersonas" type="tns:ISPersonas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersona">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/GetPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonas">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/GetPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISPersonas/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPersonas">
    <wsdl:port name="BasicHttpBinding_ISPersonas" binding="tns:BasicHttpBinding_ISPersonas">
      <soap:address location="http://localhost:60925/SPersonas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>